@import url("https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,600i,700,700i,800,800i,900|Petit+Formal+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,600i,700,700i,800,800i,900|Petit+Formal+Script&display=swap");
/* line 1, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_extend.scss */
.flex-center-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* 1. Theme default css */
/* line 4, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
body {
  font-family: "Arial", cursive;
  font-weight: normal;
  font-style: normal;n
  overflow-x: hidden;
}

/* line 15, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
.img {
  max-width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 19, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
a,
.button {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 23, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
a:focus,
.button:focus, button:focus {
  text-decoration: none;
  outline: none;
}

/* line 28, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 32, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
}

/* line 39, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
a,
button {
  color: #1F1F1F;
  outline: medium none;
}

/* line 44, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
h1, h2, h3, h4, h5 {
  font-family: "Arial", cursive;
  color: #1F1F1F;
}

/* line 48, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

/* line 57, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
ul {
  margin: 0px;
  padding: 0px;
}

/* line 61, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
li {
  list-style: none;
}

/* line 64, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #727272;
  margin-bottom: 13px;
  font-family: "Arial", cursive;
}

/* line 73, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

/* line 79, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 84, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 89, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}

/* line 94, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 99, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 104, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 109, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* line 115, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/theme-default.scss */
h3 {
  font-size: 24px;
}


/* line 1, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area {
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  z-index: 999;
  background: #fff;
}

/* line 9, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area {
  padding: 0 50px;
}

@media (max-width: 767px) {
  /* line 9, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 9, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 10px 0;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 9, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 0 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 9, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area {
    padding: 0 50px;
  }
}

@media (max-width: 767px) {
  /* line 30, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 120px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 30, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area .logo-img img {
    width: 120px;
  }
}

/* line 40, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu {
  text-align: right;
}

/* line 43, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li {
  display: inline-block;
  position: relative;
}

/* line 46, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a {
  color: #727272;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  display: inline-block;
  padding: 38px 23px 38px 23px;
  font-family: "Muli", sans-serif;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 46, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    padding: 35px 8px 35px 8px;
    font-size: 15px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 46, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a {
    padding: 38px 18px 38px 18px;
  }
}

/* line 64, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a i {
  font-size: 9px;
}

@media (max-width: 767px) {
  /* line 64, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 64, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area .main-menu ul li a i {
    display: none !important;
  }
}

/* line 76, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #C78665;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: scaleX(0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 88, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 93, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li a.active::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 102, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu {
  position: absolute;
  left: 0;
  top: 140%;
  background: #fff;
  width: 200px;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.02);
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  z-index: 9;
}

/* line 115, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li {
  display: block;
}

/* line 117, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a {
  padding: 10px 15px;
  position: inherit;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: block;
  color: #727272;
}

/* line 123, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li a::before {
  display: none;
}

/* line 127, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li .submenu li:hover a {
  color: #C78665;
}

/* line 132, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > .submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

/* line 137, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area .main-menu ul li:hover > a::before {
  opacity: 1;
  transform: scaleX(1);
}

/* line 144, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area.sticky {
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
}

@media (max-width: 767px) {
  /* line 144, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 144, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky {
    padding: 10px 0;
  }
}

/* line 170, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .main-menu {
  padding: 0;
}

/* line 174, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .main-header-area.sticky .main-menu ul li a {
  padding: 35px 18px 35px 18px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  /* line 174, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* line 174, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
  .header-area .main-header-area.sticky .main-menu ul li a {
    padding: 35px 8px 35px 8px;
  }
}

/* line 192, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .social_media_links {
  text-align: right;
}

/* line 195, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .social_media_links ul li {
  display: inline-block;
}

/* line 197, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .social_media_links ul li a {
  background: #171717;
  color: #8B8B8B;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  margin: 0 3px;
  font-size: 17px;
}

/* line 208, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_header.scss */
.header-area .social_media_links ul li a:hover {
  color: #C78665;
}

